<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/angular-mock-back/angular-mock-back.js"></script>

<!-- Attach all mock js files here -->
<script src="mock-backend/mock-data/bundle/mockBundle.js"></script>
<script src="mock-backend/mock-backend-config.js"></script>